<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro
    name="vslot_60x60_bar"
    params="name parent length axis xyz rpy mass_per_meter:=2.58 area:=9.521e-4 i_area_y:=3.70420e-7 i_area_z:=3.70420e-7 color:=vslot_aluminum">

    <xacro:property name="profile_size" value="0.06"/>
    <xacro:property name="mass" value="${mass_per_meter * length}"/>
    <xacro:property name="rho_eff" value="${mass_per_meter / area}"/>
    <xacro:property name="i_long" value="${rho_eff * length * (i_area_y + i_area_z)}"/>
    <xacro:property name="i_trans_y" value="${mass * length * length / 12.0 + rho_eff * length * i_area_z}"/>
    <xacro:property name="i_trans_z" value="${mass * length * length / 12.0 + rho_eff * length * i_area_y}"/>

    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

    <link name="${name}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <xacro:if value="${axis == 'x'}">
            <box size="${length} ${profile_size} ${profile_size}"/>
          </xacro:if>
          <xacro:if value="${axis == 'y'}">
            <box size="${profile_size} ${length} ${profile_size}"/>
          </xacro:if>
          <xacro:if value="${axis == 'z'}">
            <box size="${profile_size} ${profile_size} ${length}"/>
          </xacro:if>
        </geometry>
        <material name="${color}"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <xacro:if value="${axis == 'x'}">
            <box size="${length} ${profile_size} ${profile_size}"/>
          </xacro:if>
          <xacro:if value="${axis == 'y'}">
            <box size="${profile_size} ${length} ${profile_size}"/>
          </xacro:if>
          <xacro:if value="${axis == 'z'}">
            <box size="${profile_size} ${profile_size} ${length}"/>
          </xacro:if>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="${mass}"/>
        <xacro:if value="${axis == 'x'}">
          <inertia ixx="${i_long}" ixy="0" ixz="0" iyy="${i_trans_y}" iyz="0" izz="${i_trans_z}"/>
        </xacro:if>
        <xacro:if value="${axis == 'y'}">
          <inertia ixx="${i_trans_y}" ixy="0" ixz="0" iyy="${i_long}" iyz="0" izz="${i_trans_z}"/>
        </xacro:if>
        <xacro:if value="${axis == 'z'}">
          <inertia ixx="${i_trans_y}" ixy="0" ixz="0" iyy="${i_trans_z}" iyz="0" izz="${i_long}"/>
        </xacro:if>
      </inertial>
    </link>
  </xacro:macro>
</robot>
