<?xml version="1.0"?>
<robot name="dual_openmanipulator_vslot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="use_sim" default="true"/>
  <xacro:arg name="base_x" default="0.80"/>
  <xacro:arg name="base_y" default="0.55"/>
  <xacro:arg name="base_z" default="0.015"/>
  <xacro:arg name="column_height" default="0.70"/>
  <xacro:arg name="beam_length" default="1.00"/>
  <xacro:arg name="left_mount_x" default="-0.38"/>
  <xacro:arg name="right_mount_x" default="0.38"/>
  <xacro:arg name="arm_base_z_offset" default="-0.22"/>
  <xacro:arg name="left_arm_yaw" default="0.0"/>
  <xacro:arg name="right_arm_yaw" default="3.141592653589793"/>

  <xacro:include filename="$(find open_manipulator_x_description)/urdf/materials.xacro"/>
  <xacro:include filename="$(find open_manipulator_x_description)/gazebo/open_manipulator_x.gazebo.xacro"/>
  <xacro:include filename="$(find dual_openmanipulator)/urdf/open_manipulator_x_prefixed.urdf.xacro"/>
  <xacro:include filename="$(find dual_openmanipulator)/urdf/dual_open_manipulator.ros2_control.xacro"/>
  <xacro:include filename="$(find dual_openmanipulator_vslot_sim)/urdf/macros/vslot_60x60.xacro"/>
  <xacro:include filename="$(find dual_openmanipulator_vslot_sim)/urdf/macros/simple_fixture.xacro"/>

  <material name="vslot_aluminum">
    <color rgba="0.72 0.72 0.68 1.0"/>
  </material>
  <material name="dark_anodized">
    <color rgba="0.02 0.02 0.025 1.0"/>
  </material>
  <material name="fixture_aluminum">
    <color rgba="0.75 0.76 0.74 1.0"/>
  </material>
  <material name="demo_blue">
    <color rgba="0.08 0.22 0.75 1.0"/>
  </material>

  <xacro:property name="base_x" value="$(arg base_x)"/>
  <xacro:property name="base_y" value="$(arg base_y)"/>
  <xacro:property name="base_z" value="$(arg base_z)"/>
  <xacro:property name="column_height" value="$(arg column_height)"/>
  <xacro:property name="beam_length" value="$(arg beam_length)"/>
  <xacro:property name="left_mount_x" value="$(arg left_mount_x)"/>
  <xacro:property name="right_mount_x" value="$(arg right_mount_x)"/>

  <link name="world"/>

  <xacro:fixed_box_link
    name="vslot_base_plate"
    parent="world"
    size="${base_x} ${base_y} ${base_z}"
    xyz="0 0 ${base_z / 2.0}"
    rpy="0 0 0"
    mass="10.0"
    color="dark_anodized"/>

  <xacro:vslot_60x60_bar
    name="vslot_vertical_column"
    parent="vslot_base_plate_link"
    length="${column_height}"
    axis="z"
    xyz="0 0 ${base_z / 2.0 + column_height / 2.0}"
    rpy="0 0 0"
    color="vslot_aluminum"/>

  <xacro:vslot_60x60_bar
    name="vslot_horizontal_beam"
    parent="vslot_vertical_column_link"
    length="${beam_length}"
    axis="x"
    xyz="0 0 ${column_height / 2.0}"
    rpy="0 0 0"
    color="vslot_aluminum"/>

  <xacro:fixed_box_link
    name="left_arm_mount"
    parent="vslot_horizontal_beam_link"
    size="0.10 0.025 0.28"
    xyz="${left_mount_x} 0 -0.11"
    rpy="0 0 0"
    mass="0.35"
    color="dark_anodized"/>

  <xacro:fixed_box_link
    name="right_arm_mount"
    parent="vslot_horizontal_beam_link"
    size="0.10 0.025 0.28"
    xyz="${right_mount_x} 0 -0.11"
    rpy="0 0 0"
    mass="0.35"
    color="dark_anodized"/>

  <xacro:fixed_box_link
    name="central_fixture"
    parent="vslot_base_plate_link"
    size="0.25 0.18 0.005"
    xyz="0 0 ${base_z / 2.0 + 0.0025}"
    rpy="0 0 0"
    mass="0.50"
    color="fixture_aluminum"/>

  <xacro:fixed_box_link
    name="demo_block_1"
    parent="vslot_base_plate_link"
    size="0.045 0.045 0.035"
    xyz="-0.065 0.035 ${base_z / 2.0 + 0.0175}"
    rpy="0 0 0.35"
    mass="0.06"
    color="demo_blue"/>

  <xacro:fixed_box_link
    name="demo_block_2"
    parent="vslot_base_plate_link"
    size="0.055 0.035 0.03"
    xyz="0.070 -0.030 ${base_z / 2.0 + 0.015}"
    rpy="0 0 -0.25"
    mass="0.07"
    color="grey"/>

  <xacro:fixed_cylinder_link
    name="demo_cylinder_1"
    parent="vslot_base_plate_link"
    radius="0.022"
    length="0.045"
    xyz="0.02 0.07 ${base_z / 2.0 + 0.0225}"
    rpy="0 0 0"
    mass="0.05"
    color="fixture_aluminum"/>

  <xacro:fixed_box_link
    name="demo_printed_part_1"
    parent="vslot_base_plate_link"
    size="0.040 0.030 0.020"
    xyz="-0.015 -0.070 ${base_z / 2.0 + 0.010}"
    rpy="0 0 0.7"
    mass="0.04"
    color="white"/>

  <xacro:open_manipulator_x_prefixed prefix="left_"/>
  <xacro:open_manipulator_x_gazebo prefix="left_"/>
  <joint name="left_arm_mount_to_open_manipulator" type="fixed">
    <parent link="left_arm_mount_link"/>
    <child link="left_link1"/>
    <origin xyz="0 0 $(arg arm_base_z_offset)" rpy="0 0 $(arg left_arm_yaw)"/>
  </joint>

  <xacro:open_manipulator_x_prefixed prefix="right_"/>
  <xacro:open_manipulator_x_gazebo prefix="right_"/>
  <joint name="right_arm_mount_to_open_manipulator" type="fixed">
    <parent link="right_arm_mount_link"/>
    <child link="right_link1"/>
    <origin xyz="0 0 $(arg arm_base_z_offset)" rpy="0 0 $(arg right_arm_yaw)"/>
  </joint>

  <xacro:dual_open_manipulator_ros2_control name="DualOpenManipulatorVslotSystem"/>

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find dual_openmanipulator_vslot_sim)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>
</robot>
